// adaptive
$desktop-min-width: custom-settings;
$laptop-min-width: custom-settings;
$tablet-min-width: custom-settings;

// colors
$color: custom-settings;

//Animation
$animation-time: custom-settings;
